@using Microsoft.AspNetCore.Identity
@using Thunder.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <div class="nav-link-holder">
        <a href="@Url.ActionLink("Index","Home")" class="nav-link w-inline-block">
            <div>Home</div>
            <div class="link-block-underline"></div>
        </a>
    </div>
    <div class="nav-link-holder">
        <a href="@Url.ActionLink("Ship","Dashboard")" class="nav-link w-inline-block">
            <div>Dashboard</div>
            <div class="link-block-underline"></div>
        </a>
    </div>
    <div class="nav-link-holder logoutholder">
        <div class="form-block-6 w-form">
            <form id="logoutForm" asp-controller="Account" asp-action="Logout" method="post" data-wf-page-id="648b7b7d052e0e643e14317e" data-wf-element-id="3724e395-1fad-3229-6a89-d82f7973353c" class="form-4">
                @Html.AntiForgeryToken()
                <input type="submit" id="logoutLink" value="Logout" class="logoutbutton w-button">
            </form>
           
        </div>
    </div>

}
else
{
    <div class="nav-link-holder">
        <a href="@Url.ActionLink("Index","Home")" class="nav-link w-inline-block">
            <div>Home</div>
            <div class="link-block-underline"></div>
        </a>
    </div>
        
        <div class="nav-link-holder">
            <a asp-area="Identity" asp-page="/Account/Login" class="nav-link w-inline-block">
                <div>Login</div>
                <div class="link-block-underline"></div>
            </a>
        </div>
 
        <div class="nav-buttons-container">
            <a href="@Url.ActionLink("Register","Home")" class="gradient-link w-inline-block">
                <div class="button-gradient"></div>
                <div class="loginbutton">
                    <div class="logintext">Create a FREE account</div>
                </div>
                <div class="white-background-button-color"></div>
            </a>
        </div>

}
