@* 
    As soon as my window screen is 475px wide, my image suddenly returns an error trying to find the image. But as soon as the screen size goes larger or smaller it renders again. Here is the image hmtl:

*@
@{
}
<div data-w-id="7da429b7-51e1-ba5b-a6b9-5c15df74e908" data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="dashnav w-nav">
    <div class="sidedashboardnavcontainer w-container">
        <a href="@Url.ActionLink("Index","Home")" class="brand-link nav w-nav-brand">
            <img src="/images/Icon.png" loading="lazy" width="75" height="75" srcset="/images/Icon-p-500.png 500w, /images/Icon.png 690w" sizes="(max-width: 479px) 85vw, (max-width: 991px) 24.45833396911621px, (max-width: 1439px) 2vw, 24.45833396911621px" alt="" class="brand">
            <div class="text-block-12 gradient-text nav">Thundr</div>
        </a>
        <div class="menu-button-2 w-nav-button">
            <div class="w-icon-nav-menu"></div>
        </div>
        <nav role="navigation" class="dashboardnavmenu w-nav-menu">
            <div class="dashnavlinkscontainer">
                <div class="dashnavlinkitem">
                    <a href="@Url.ActionLink("Ship","Dashboard")" class="dashnavlink w-inline-block">
                        <div class="dashnavlinkcontent">
                            <div class="dashnavlinkicondiv"><img src="/images/Icon.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 1439px) 15px, 1vw" width="24" srcset="/images/Icon-p-500.png 500w, /images/Icon.png 690w" alt="" class="image-3"></div>
                            <div class="dashnavlinktextdiv">
                                <div class="text-block-24">Ship</div>
                            </div>
                        </div>
                    </a>
                </div> 
                <div class="dashnavlinkitem">
                    <a href="@Url.ActionLink("BulkShip","Dashboard")" class="dashnavlink w-inline-block">
                        <div class="dashnavlinkcontent">
                            <div class="dashnavlinkicondiv"><img src="/images/Media-Image.svg" loading="lazy" width="24" alt="" class="image-2"></div>
                            <div class="dashnavlinktextdiv">
                                <div class="text-block-24">Bulk Shipping</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="dashnavlinkitem">
                    <a href="@Url.ActionLink("Orders","Dashboard")" class="dashnavlink w-inline-block">
                        <div class="dashnavlinkcontent">
                            <div class="dashnavlinkicondiv"><img src="/images/Feature-Image.svg" loading="lazy" width="24" alt="" class="image-2"></div>
                            <div class="dashnavlinktextdiv">
                                <div class="text-block-24">Orders</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="dashnavlinkitem">
                    <a href="@Url.ActionLink("Admin","Dashboard")" class="dashnavlink w-inline-block">
                        <div class="dashnavlinkcontent">
                            <div class="dashnavlinkicondiv"><img src="/images/icons8-edit-32.png" loading="lazy" width="25" alt="" class="image-2"></div>
                            <div class="dashnavlinktextdiv">
                                <div class="text-block-24">Admin</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="dashnavlinkitem">
                    <a href="@Url.ActionLink("Account","Dashboard")" aria-current="page" class="dashnavlink w-inline-block w--current">
                        <div class="dashnavlinkcontent">
                            <div class="dashnavlinkicondiv"><img src="/images/Support-Image.svg" loading="lazy" width="24" alt=""></div>
                            <div class="dashnavlinktextdiv">
                                <div class="text-block-24">Account</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="form-block-6 w-form">
                    <form id="logoutForm" asp-controller="Account" asp-action="Logout" method="post" class="form-4" data-wf-page-id="648b7b7d052e0e643e1431d8" data-wf-element-id="7da429b7-51e1-ba5b-a6b9-5c15df74e930">
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Logout" id="logoutLink" class="logoutbutton w-button">
                    </form>
                  
                </div>
            </div>
        </nav>
    </div>
</div>

